.header {
  height: 95vh;
  background-image:
    linear-gradient(to right bottom, rgba(128, 214, 113, 0.8),
      rgba(40, 180, 133, 0.8)),
    url('/img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logoBox {
  position: absolute;
  top: 40px;
  left: 40px
}

.logo {
  height: 35px;
}

.textBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.headingPrimary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.headingPrimary .main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.headingPrimary .sub {
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 17.4px;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }

}

.btn:link{
  display: inline-block;
  background-color: #fff;
  color: #777;
  padding: 15px 40px;
  border-radius: 50px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  animation: buttonInMove 0.9s ease-out ;
}

.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.btn:active{
  transform: translateY(-1px);
}

@keyframes buttonInMove{
  0%{
    opacity: 0;
    transform: translateY(10px);
  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
