.about {
  margin: 0 auto;
  width: 90%;
  max-width: 100rem;
  h2 {
    @include heading-primary-text(3rem, 0.5rem);
    text-align: center;
    margin-bottom: 2rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    @include headingSecondary;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.7rem;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0px 0px;
  grid-auto-columns: 1fr;

  &:hover{
    [class^='nat']:not(:hover){
      transform: scale(0.9)
    }
  }
}

[class^="nat"] {
  @include imgShadow;
  transition: all 0.3s;
  &:hover{
    transform: scale(1.1);
    outline: 1rem solid $color-primary;
    outline-offset: 1rem;
  }
}

.nat1 {
  grid-area: 1 / 1 / 7 / 7;
}

.nat2 {
  grid-area: 2 / 6 / 8 / 12;
}

.nat3 {
  grid-area: 5 / 3 / 11 / 9;
}

@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .nat1 {
    grid-area: 2 / 1 / 5 / 6;
  }
  .nat2 {
    grid-area: 1 / 6 / 4 / 12;
  }
  .nat {
    grid-area: 2 / 10 / 5 / 13;
  }
}
