.about {
  padding: 5rem;
  h2 {
    @include heading-primary-text(3rem, 0.5rem);
    text-align: center;
    margin-bottom: 2rem;
  }
}

.content {
  display: flex;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    @include headingSecondary;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.7rem;
  }
}

@media (max-width: 720px) {
  .content {
    flex-direction: column;
  }
}
