.featuresSection {
  margin-top: 10rem;
  padding: 15rem;
  height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url("/img/nat-4.jpg");
  transform: skewY(-5deg);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8rem;
}

@media (max-width: 900px){
  .featuresSection{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);

  }
}