.btn {
  &:link,
  &:visited {
    display: inline-block;
    color: $color-grey;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    border-radius: 5rem;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
    animation: buttonInMove 0.9s ease-out;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
  &:active {
    transform: translateY(-0.1rem);
  }
  &__white {
    background-color: $color-white;
  }
}

.secondaryButton{
  font-size: 2rem;
  width: fit-content;
  display: inline-block;
  transition: all 0.3s;
  border-bottom: 0.2rem solid $color-primary;

  &:hover{
    background-color: $color-primary;
    color:$color-white;
    box-shadow: 0rem 1rem 2rem rgba($color-black, 0.2);
  }
}