.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  gap: 1rem;
  height: 30rem;
  padding: 3rem;
  background-color: rgba($color-white, 0.8);
  .card__img {
    width: 5rem;
    height: 5rem;
  }
  .card__title {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  .card__content {
    font-size: 2rem;
    text-align: center;
  }
}
