@import "./sass/abstracts/variables";
@import "./sass/abstracts/mixins";

@import "./sass/base/base";
@import "./sass/base/typography";
@import "./sass/base/animations.scss";

@import "./sass/layout/header";
@import "./sass/layout/about";
@import "./sass/layout/features";


@import "./sass/components/button";
@import "./sass/components/card";